
/****************** Header Section ******************/
#section-one {
  width: 100vw;
  height: 80vh;
  background-color: #36454F;
}

h1, h2, h3, h5, p {
  color: #F9FAFB;

}
h1 {
  font-size: 4rem;

}

h3 {
  font-section: 3rem;
}

/****************** Card Section ******************/

#section-two {
  background: #6E7F80;
  height: 100%;
}


/****************** Card-img w/ text button ******************/
/* .img-wrapper {
  width: 50%;
}

.img-wrapper img{
  width: 100%;
} */


/****************** Unorder List  ******************/
/* .list-container {
  width: 90vw;
}
ul .list-group {
  
}

ul.px {
  padding: 0 100px;
} */