{% extends "base.html" %}
{% load allauth i18n %}

{% block content %}
<div class=" d-flex justify-content-center mt-5">
    <div class="container signin_card mt-5 sm-w-50 w-50 d-flex flex-column align-items-center p-5 ">
        <div class="text-center">
            {% element h1 %}
            {% trans "Sign Out" %}
            {% endelement %}
        </div>
        <h3>{% trans 'Are you sure you want to sign out?' %}</h3>
        <div>
            {% url 'account_logout' as action_url %}
            {% element form method="post" action=action_url no_visible_fields=True %}
            {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% endslot %}
            <div>
                {% slot actions %}
                <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>

                {% endslot %}

            </div>
            {% endelement %}
        </div>
    </div>
</div>


{% endblock content %}