{% extends "base.html" %}
{% load static %}

{% block app_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/home_style.css' %}">
{% endblock %}

{% block content %}

<!-- Hero Section -->
<div id="section-one"
     class="container d-flex flex-column align-items-center justify-content-center mw-md-100">
  <h1 class="text-center">Effortless<br>Finance Tracker</h1>
  <div class="text-center flex-wrap">
    <p>Track your spending, save more, and reach your financial goals with ease.</p>
  </div>
  <div class="gap-2 d-flex flex-md-row flex-column justify-content-center w-50">
    <div class="col-md-6 col-12 mb-md-0 mb-3">
      {% if user.is_authenticated %}
      <a class="btn btn-secondary w-100 fs-sm text-break" aria-current="page"
         href="{% url 'budget' %}">Create Budget</a>
      {% else %}
      <a class="btn btn-secondary w-100 fs-sm text-break" aria-current="page"
         href="{% url 'account_signup' %}">Get Started</a>
      {% endif %}
    </div>
    <div class="col-md-6 col-12">
      <a class="btn btn-outline-secondary w-100" aria-current="page" href="{% url 'about' %}">Learn
        More</a>
    </div>
  </div>
</div>
<!-- Card Section -->
<div id="section-two" class="container-fluid">
  <div class="card bg-transparent border-0 ">
    <div class="row d-flex align-items-center justify-content-center m-3">
      <div class="col-sm-7 ">
        <img src="{% static 'images/card_image.png' %}" class="img-fluid rounded-start"
             alt="Man sitting in office looking at tablet">
      </div>
      <div class="col-sm-5">
        <div class="text-center">
          <h2>How It Works</h2>
          <a class="btn btn-secondary" href="{% url 'about' %}">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- List/ SVGS-->

  <div class="card-group container-fluid d-flex flex-wrap mx-lg-5">
    <div class="card bg-transparent border-0 container col-4">
      <div class="collapse-sm" data-bs-toggle="collapse" data-bs-target="#tracker-info">
        <img class="card-img-top w-25" src="{% static 'svg/tracker.svg' %}" alt="" />
      </div>
      <div class="collapse" id="tracker-info">
        <h5>Track Spending</h5>
        <p class="w-75">
          Monitor your expenses in real-time with our intuitive tools.
        </p>
      </div>
    </div>

    <div class="card bg-transparent border-0 container-fluid col-4">
      <div class="collapse-sm" data-bs-toggle="collapse" data-bs-target="#save">
        <img class="card-img-top w-25 pt-sm-0 pt-lg-2 " src="{% static 'svg/camera.svg' %}" alt="">
      </div>
      <div class=" collapse mt-lg-3 mt-sm-1" id="save">
        <h5>Save Smartly</h5>
        <p class="d-none d-md-block w-75 ">
          Get personalized savings tips and incentives.
        </p>
      </div>
    </div>
    <div class="card bg-transparent border-0 container-fluid col-4">
      <div class="collapse-sm" data-bs-toggle="collapse" data-bs-target="#budget">
        <img class="card-img-top w-25" src="{% static 'svg/circle.svg' %}" alt="">
      </div>
      <div class="collapse" id="budget">
        <h5>Budget Efficiently</h5>
        <p class="d-none d-md-block w-75">
          Create and manage your budget to achieve financial freedom.</p>
        </p>
      </div>
    </div>
  </div>
</div>

{% block footer %}
<footer class="bg-black" style="height: 50px;">

</footer>
{% endblock footer %}

{% endblock %}