{% extends "base.html" %}
{% load static %}

{% block app_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/home_style.css' %}">
{% endblock %}

{% block content %}
<!-- Hero Section -->
<div id="section-one"
     class="container d-flex flex-column align-items-center justify-content-center mw-md-100">
  <h1 class="text-center">Effortless<br>Finance Tracker</h1>
  <div class="text-center flex-wrap">
    <p>Track your spending, save more, and reach your financial goals with ease.</p>
  </div>
  <div class="gap-2 d-flex flex-md-row flex-column justify-content-center w-50">
    <div class="col-md-6 col-12 mb-md-0 mb-3">
      {% if user.is_authenticated %}
      <a class="btn btn-secondary w-100 fs-sm text-break" aria-label="Create Budget"
         aria-current="page" href="{% url 'budget' %}">Create Budget</a>
      {% else %}
      <a class="btn btn-secondary w-100 fs-sm text-break" aria-label="Get Started"
         aria-current="page" href="{% url 'account_signup' %}">Get Started</a>
      {% endif %}
    </div>
    <div class="col-md-6 col-12">
      <a class="btn btn-outline-secondary w-100" aria-label="Learn More" aria-current="page"
         href="{% url 'about' %}">Learn More</a>
    </div>
  </div>
</div>
<!-- Card Section -->
<div id="section-two" class="container-fluid pb-3">
  <div class="card bg-transparent border-0">
    <div class="row d-flex align-items-center justify-content-center m-3 mt-5">
      <div class="col-sm-7">
        <img src="{% static 'images/card_image.png' %}" class="img-fluid rounded-start"
             alt="Man sitting in office looking at tablet"
             aria-label="Man sitting in office looking at tablet">
      </div>
      <div class="col-sm-5">
        <div class="text-center">
          <h2>How It Works</h2>
          <a class="btn btn-secondary" aria-label="Learn More" href="{% url 'about' %}">Learn
            More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Hoverable Image/Icon Section-->
  <div class="d-flex justify-content-around pt-3 pb-1">
    <div class="tooltip-container">
      <button class="btn btn-icon-link-hover" type="button" data-toggle="tooltip"
              aria-label="Track Spending">
        <img class="w-sm-50" src="{% static 'svg/tracker.svg' %}"
             alt="White SVG bubble with pointer" aria-label="Track Spending Icon" />
        <div class="icon-info">
          <div class="card card-body bg-transparent border-0">
            <h5>Track Spending</h5>
            <p>Monitor your expenses in real-time with our intuitive tools.</p>
          </div>
        </div>
      </button>
    </div>
    <div class="tooltip-container">
      <button class="btn btn-icon-link-hover" type="button" data-toggle="tooltip"
              aria-label="Save Smartly">
        <img class="w-sm-50" src="{% static 'svg/camera.svg' %}" alt="White svg of a camera"
             aria-label="Save Smartly Icon" />
        <div class="icon-info">
          <div class="card card-body bg-transparent border-0">
            <h5>Save Smartly</h5>
            <p>Get personalized savings tips and incentives.</p>
          </div>
        </div>
      </button>
    </div>
    <div class="tooltip-container">
      <button class="btn btn-icon-link-hover" type="button" data-toggle="tooltip"
              aria-label="Budget Efficiently">
        <img class="w-sm-50" src="{% static 'svg/circle.svg' %}"
             alt="White svg of a circle of small circles" aria-label="Budget Efficiently Icon" />
        <div class="icon-info">
          <div class="card card-body bg-transparent border-0">
            <h5>Budget Efficiently</h5>
            <p>Create and manage your budget to achieve financial freedom.</p>
          </div>
        </div>
      </button>
    </div>
  </div>
  <p class="text-center">Hover for more info!</p>
</div>


{% endblock %}
{% block footer %}
<footer class="text-white py-4" style="height: 150px;" aria-label="Footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center ">
        <h3>Track My Spending</h3>
        <p>&copy; 2024 Craig Britton</p>
        <div class="d-flex justify-content-center pt-2">
          <a class="text-white me-3" aria-label="Budget Page" href="{% url 'about' %}">About</a>
          <a class="text-white me-3" aria-label="Budget Page" href="{% url 'budget' %}">Budget</a>
          <a class="text-white" aria-label="Transaction Page"
             href="{% url 'transaction' %}">Transactions</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock footer %}