{% extends 'base.html' %}
{% load static %}


{% block app_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'budget/css/budget_style.css' %}">
{% endblock %}


{% block content %}
<section class="container card-body d-flex flex-column budget_card mt-5 p-4 sm-w-100 lg-w-75">
  <h1 class="display-4 text-center mb-4">Update Your Budget</h1>
  <form class="needs-validation d-grid " method="post" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4">
        <div>
          <label class="form-label" for="income">Income:</label>
        </div>
        <div class="">
          {{ form.income }}
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <label class="form-label" for="expense">Expenses:</label>
        </div>
        <div class="">
          {{ form.expense }}
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <label class="form-label" for="allowance">Mothly
            Allowance:</label>
        </div>
        <div class="">
          {{ form.allowance }}
        </div>
        <div class="invalid-feedback">Please enter your allowance.</div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4">
        <div>
          <label class="form-label" for="monthly_saving">Monthly
            Savings:</label>
        </div>
        <div class="">
          {{ form.monthly_saving }}
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <label class="form-label" for="goal_saving">Savings
            Goal:</label>
        </div>
        <div class="">
          {{ form.goal_saving }}
        </div>
      </div>
      <div class="col">
        <div>
          <label class="form-label" for="goal_saving_item">Saving
            For:</label>
        </div>
        <div class="">
          {{ form.goal_saving_item }}
        </div>
      </div>
      <div class="text-center pt-3">
        <button type="submit" class="btn btn-primary mt-4 btn-lg w-50"><a
             href="{% url 'budget' %}">Update Budget</a></button>
      </div>
  </form>
</section>

{% endblock %}