body {
    background-color: #36454F

}
/* ************ navbar ************ */

.nav-bg {
  background-color: #36454F

}
.navbar-brand {
  padding: 2px;
  font-size: .75rem;
}

.nav-link {
  color: #F9FAFB;
}

.signin-btn {
  margin-right: 0px;
  
}

.btn-group {
  background: #0F172A;
  padding: 0 20px;
  color: #F9FAFB;
  
}


.btn-active {
  border: 1px solid #F9FAFB;
}

.logo-btn {
  color: #F9FAFB;
  background: #0F172A;
}

.btn-group a {
   color: #F9FAFB;
}

.navbar {
  color: #F9FAFB; /* Change the text color to match the stroke color */
}

.navbar-toggler {
  border-color: #F9FAFB;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28249, 250, 251%29'  stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.sign-in-btn {

}
.signin_card {
  color: white;
  border-radius: 25px;
  background:  rgba(110, 127, 128, 0.5);
  box-shadow: 0 4px 6px 0 rgba(227, 231, 238, 0.9), 0 2px 20px 0 rgba(227, 231, 238, 0.8);
}


@media (max-width: 991px) {
  li.reg-btn {
  margin-top: 10px;
}

div.offcanvas-end {
  width:200px;
}

}